<div class="row">
			<div class="col-md-4">
				<h3>Qui sommes-nous</h3>
				    <ul class="footer-nav-som">
						<li><a href="#">Nos missions et nos valeurs</a></li>
						<!--<li><a href="#">Nos conditions générales d'utilisation</a></li>
						<li><a href="#">Mentions légales</a></li>-->
					</ul>
			</div>

            <div class="col-md-4">
                <h3>Données personnelles</h3>
                        <ul class="footer-nav-per">
                            <li><a href="rgpd">RGPD et vie privée</a></li>
                            <li><a href="#">AIDASINISTRE nos obligations</a></li>
                            <li><a href="#">Base numérique des consentements</a></li>
                            <li><a href="#">Utilisateurs de notre site et de notre application mobile vos droits</a></li>
                        </ul>
            </div>

            <div class="col-md-4">
                <h3>A propos</h3>
                    <ul class="footer-nav-pro">
                        <li><a href="#">Nos conditions générales de vente</a></li>
                        <li><a href="#">Nos conditions générales d'utilisation</a></li>
                        <li><a href="#">Mentions légales</a></li>
                    </ul>
            </div>

		</div>

			<div class="row">
				<!--<div class="col span_1_of_1">
					<ul class="footer-nav-con">
						<li><a href="#">Nos conditions générales de vente</a></li>
						<li><a href="#">Nos conditions générales d'utilisation</a></li>
						<li><a href="#">Mentions légales</a></li>
					</ul>
				</div>-->

            <p class="text-center">
                Copyright&copy;2019 par Aidasinistre. Tous droits réservés.
            </p>
		</div>