<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Aidasinistre - {% block title %} {% endblock %}</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/app.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <!--==================================================
						HEADER	
		 ==================================================-->

        <!--==================================================
						MENU
		 ==================================================-->
            
        {% include ('partiels/_menu.html.twig') %}
        
        {% include ('partiels/_message.html.twig') %}

         <!--==================================================
						BODY
		 ==================================================-->
        
            {% block body %}{% endblock %}
         

        <!--==================================================
						FOOTER
		 ==================================================-->
        <footer class="mt-5 mb-5">
            {% include ('partiels/_footer.html.twig') %}
        </footer>
		

        <!--==================================================
						FICHIER(JQUERY & POPPER)
		 ==================================================-->
        <script src="/js/jquery.js"></script>
		<script src="/js/popper.js"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
